<div class="container">
    <ng-template [ngIf]="movies" [ngIfElse]="noMovieData">
        <div class="row card-group">
            <div class="col-4 d-flex" *ngFor="let movie of movies.results">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <img [src]="imgBaseUrl + '/w300' + movie.poster_path + '?api_key=' + apiKey"
                            class="img-fluid mt-auto" alt="Responsive image">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="text-center font-weight-light">{{movie.title}}</h5>

                        <button type="button" class="btn btn-lg btn-block btn-primary mt-auto" (click)="goToDetails(movie.id)">More</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #noMovieData>
        Something went wrong with fetching movie data :(
    </ng-template>
</div>